
.container{
    display: grid;
    grid-template-areas:
        "title image"
        "content image"
        "button image";
    grid-template-columns: 2fr 1fr;
    gap:10px;
    background-color: var(--primary_color);
    padding-top: 47px;
    padding-bottom: 47px;
    height: auto;
}

.title{
    grid-area: title;
    color: var(--white);
}

.content{
    grid-area: content;
    color: var(--white);
}

.image{
    grid-area: image;
}

.callToActionbutton{
    grid-area: button;
    background-color: var(--secondary_color);
    width: 200px;
    height: 60px;
    border-radius: 16px;

}
.callToActionbutton:hover{
    background-color: var(--third_color);
    color: var(--white);
    cursor: pointer;
}

.link{
    text-decoration: none;
    color: var(--black);
}

@media only screen and (min-width:701px) {
    .container{
       padding-left: 15%;
       padding-right: 15%;

    }
    .content{
        width: 422px;
    }
    
}