@font-face{
  font-family: MarkaziText_regular;
  src: url('/src/fonts/MarkaziText-Regular.ttf');

}

@font-face {
  font-family: MarkaziText_medium;
  src: url('/src/fonts/MarkaziText-Medium.ttf');
}

@font-face {
  font-family: Karla_regular;
  src: url('/src/fonts/Karla-Regular.ttf');
}

@font-face {
  font-family: Karla_medium;
  src: url('/src/fonts/Karla-Medium.ttf');
}

@font-face {
  font-family: Karla_bold;
  src: url('/src/fonts/Karla-Bold.ttf');
}

@font-face {
  font-family: Karla_extraBold;
  src: url('/src/fonts/Karla-ExtraBold.ttf');
}

:root{
  --white:#EDEFEE;
}

html, body{
  font-family: Karla_regular;
}

.section_category{
  font-family: Karla_extraBold;
  font-size: 16px;

}

.highlight_text{
  font-family: Karla_bold;
  font-size: 16px;
}

